li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}
a {
    text-decoration: none;
    color: black;
    font-family: "Times New Roman";
    padding: 2vw;
}
li:hover {
    background-color: green;
}
a:active {
    background-color: green;
}
nav {
    width: 100vw;
    background-color: lightgrey;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
}
body {
    margin: 0;
}